:root {
  --bg-color: rgb(20, 20, 20);
  --blue-rgb: 33 150 243;
  --primary-rgb: var(--blue-rgb);
  --green-rgb: 77 207 166;
  --success-rgb: var(--green-rgb);

  font-family: 'Source Code Pro', monospace;
}

body {
  align-items: center;
  background-color: var(--bg-color);
  display: flex;
  height: 100vh;
  justify-content: center;
  /*overflow: hidden;*/
  flex-wrap: wrap;
  margin: 0px;
  padding: 0px;
  color: white;
}

.card {
  background-color: rgb(var(--primary-rgb) / 15%);
  height: 20rem;
  width: 17rem;
  border: 2px solid rgb(var(--primary-rgb) / 80%);
  border-radius: 1rem;
  font-family: 'Source Code Pro', monospace;
  font-size: calc(1rem + 5px);
  padding: 1rem;
}

.table-card {
  width: calc(58rem - 8px);
  height: auto;
}

.auth-card {
  width: calc(58rem - 8px);
  height: 5rem;
}

#cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  max-width: 62rem;
  width: calc(100% - 1rem);
  height: auto;
}

table {
  border-collapse: collapse;
  overflow: hidden;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.35);
  border-radius: 5px;
}

table thead tr {
  background-color: rgb(var(--primary-rgb) / 80%);
  text-align: left;
}

th {
  padding: 0 1rem;
}

tbody tr {
  border-bottom: 1px solid rgb(var(--primary-rgb) / 45%);
}

.active {
  color: rgb(var(--success-rgb));
  font-weight: bold;
}

h1,
h2,
h3,
h4 {
  margin-top: 0;
}
